body{
    background-image: url(https://eloconcursos.com.br/imagem/114551316357ec228b9a7a59.68698080.png/485/274/16:9);
background-color:  #21610B;

/*--/http://www.imagenslivres.com/wp-content/uploads/2016/01/Arco-%C3%ADris-em-Madeira-Plano-de-Fundo.jpg*/
}
#painelFormulario{
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  background-color: #00FF00;
  color: #000000;
  width: 700px;
  height: 500px;
  margin: 100px auto;
  padding: 40px
}
#painelFormulario h1{
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 50px;
}
#painelFormulario table select{
  width: 200px;
}
#painelformulario tr{
  height: 35px;
}
#painelFormulario table tr td div{
  float: right;

}
#painelFormulario table tr td label{
  float: right;
}
#painelFormulario .campo-texto{
  border: 4px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
  width: 200px;
}
label.error{
  background-color: red;
  color: #FFFFFF;
  margin-left: 5px;
  padding: 0 5px 0;
  position: absolute;
}
