body{
    background-image: url(https://eloconcursos.com.br/imagem/114551316357ec228b9a7a59.68698080.png/485/274/16:9);
background-color:  #21610B;
}
#notaForm{
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  background-color: #00FF00;
  color: #000000;
  width: 500px;
  height: 600px;
  margin: 100px auto;
  padding: 40px
}
#notaForm h1{
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 50px;
}
#notaForm table select{
  width: 200px;
}
#notaForm tr{
  height: 35px;
}
#notaForm table tr td div{
  float: right;

}
#notaForm table tr td label{
  float: right;
}
#notaForm .campo-texto{
  border: 4px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
  width: 200px;
}
label.error{
  background-color: red;
  color: #FFFFFF;
  margin-left: 5px;
  padding: 0 5px 0;
  position: absolute;
}
