/*
	Astral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Wrapper */

	#wrapper {
		opacity: 1.0;
	}

/* Nav */

	#nav {
		margin-top: 4em;
	}

		#nav a {
			opacity: 1.0;
		}

			#nav a:before, #nav a:after {
				display: none;
			}

			#nav a span {
				top: 0;
				opacity: 1.0;
			}

				#nav a span:after {
					display: none;
				}

/* Panels */

	#main {
		background: none;
		box-shadow: none;
	}

	.panel {
		position: relative;
		background: #000000;
		box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
	}
